body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('media\pattern.jpeg');
    background-color: grey;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#Brushes h2 {
    background-color: mediumspringgreen;
}

#Frames h2 {
    background-color: lightcoral;
}

#Paint h2 {
    background-color: skyblue;
}

.BlueMark {
    font-weight: bold;
    color: blue;
}